## Unity
*.cs diff=csharp text
*.prefab binary
*.unity binary
*.asset binary
*.mat binary
*.anim binary
*.controller binary
*.physicMaterial binary
*.mixer binary
*.playable binary
*.png binary
*.jpg binary
*.tga binary
*.tif binary
*.dds binary
*.exr binary
*.fbx binary
*.blend binary
*.obj binary
*.mp3 binary
*.wav binary
*.ogg binary
*.mp4 binary
*.shader text
*.cginc text
*.hlsl text
*.compute text
